@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    height: 3000px;
    font-family: 'Montserrat';
    text-align: center;
    /* background: linear-gradient(170deg, black 60%, rgb(65, 62, 62) 80%, rgb(145, 139, 139) 70%);*/

    /*background: #B993D6;  /* comptBasic */
    /*background: -webkit-linear-gradient(170deg, #8CA6DB, #B993D6);  /* comptAnt */
    /*background: linear-gradient(170deg, #8CA6DB, #B993D6); /* comptMod */
    /*background: linear-gradient(180deg, black 60%, white 10%);*/
    background: #232526;  /* Basico */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Viejos */
    background: linear-gradient(to right, #414345, #232526); /* Actuales */

    
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". Primero ." ". Segundo ." ". Tercero ." ". Cuarto ." ". Quinto .";
  }
  
.Primero { 
    grid-area: Primero; 

}
  
.Segundo { 
    grid-area: Segundo; 

}
  
.Tercero { 
    grid-area: Tercero; 

}

.intro {
    color: rgb(197, 197, 197);
    font-size: 20;
    
}

h1 {
    color: white;
    
}

#fit1 {
    display: block;
    margin-left: 5%;
    margin-right: auto;
    width: 15%;
    
}


#fit2 {
    display: block;
    margin-left: auto;
    margin-right: 5%;
    width: 20%;
    
}

#sep {
    display: block;
    margin-left: auto;
    margin-right: 5%;
    
    
}

.button1 {
    
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.2s;
}
.button1:hover {
    color:#000000;
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
     button1{
    display:block;
    margin:0.4em auto;
    }
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: black;
    
  }

.card:hover {
    box-shadow: 0 14px 28px rgba(154, 36, 170, 0.25), 0 10px 10px rgba(154, 36, 170, 0.25);
}

.card {
	-webkit-animation: card 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: card 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes card {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes card {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }


#tarj {
    width: 300px;
}

 