<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ranking de Gimnasios</ion-title>
    <ion-chip slot="end" *ngIf="authService.user | async">
      <ion-avatar>
        <img [src]="(authService.user | async)?.photoURL">
      </ion-avatar>
      <ion-label>
        {{ (authService.user | async)?.displayName }}
      </ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <ion-card *ngFor="let gym of topGyms | async">
          <ion-card-header class="ion-text-center" color="medium">
            <ion-avatar style="position: absolute; top: 5px; left: 5px;">
              <img [src]="gym?.foto" />
            </ion-avatar>
            <ion-card-subtitle>Rating {{ gym?.rating }} <ion-icon name="star" color="dark"></ion-icon></ion-card-subtitle>
            <ion-card-title>{{ gym?.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content style="padding-top: 2em">
            <ion-card color="primary">
              <ion-card-content>
                {{ gym?.descripcion }}
              </ion-card-content>
            </ion-card>
            <ion-card color="primary">
              <ion-card-content>
                {{ gym?.direccion }}
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
