<ion-grid>
  <ion-row style="height: 50%">
    <ion-col size-xs="12" size-md="6" style="max-height: 100%">
      <ion-card style="height: 100%;">
        <ion-card-header>
          <ion-item style="border-radius: 10px;" color="primary" lines="none">
            <ion-avatar slot="start">
              <img [src]="(authService.user | async)?.photoURL" />
            </ion-avatar>
            <ion-label>{{ (authService.user | async)?.displayName }}</ion-label>
            <ion-button (click)="openEditProfileModal()" slot="end" fill="clear">
              <ion-icon slot="icon-only" name="create" color="dark"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row id="datosBasicos">
              <ion-col size="6" id="peso">
                <ng-container *ngIf="(authService.user | async)?.weight; else missingData">
                  <ion-text class="ion-text-center" color="dark">
                    <h1>Peso</h1>
                  </ion-text>
                  <ion-text class="ion-text-center" color="dark">
                    <h2>{{ (authService.user | async)?.weight }} kg</h2>
                  </ion-text>
                </ng-container>
              </ion-col>
              <ion-col size="6" id="altura">
                <ng-container *ngIf="(authService.user | async)?.height; else missingData">
                  <ion-text class="ion-text-center" color="dark">
                    <h1>Altura</h1>
                  </ion-text>
                  <ion-text class="ion-text-center" color="dark">
                  <h2>{{ (authService.user | async)?.height }} cm</h2>
                  </ion-text>
                </ng-container>
              </ion-col>
            </ion-row>
            <ion-row id="bmi">
              <ion-col size="12">
                <ng-container *ngIf="(authService.user | async)?.height && (authService.user | async)?.weight; else missingData"></ng-container>
                <ion-text class="ion-text-center" color="dark">
                <h1>BMI</h1>
                </ion-text>
                <ion-text class="ion-text-center" color="dark">
                  <h2>{{ ((authService.user | async)?.weight / ((((authService.user | async)?.height)/100) * (((authService.user | async)?.height)/100))) | number : '.2-2' }}</h2>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row id="personalInfo">
              <ion-col size="6" class="ion-text-center" id="email">
                <ion-text color="dark">
                  <h3>E-mail</h3>
                  <p *ngIf="(authService.user | async)?.email; else missingDataSmall">{{ (authService.user | async)?.email }}</p>
                </ion-text>
              </ion-col>
              <ion-col size="6" class="ion-text-center" id="age">
                <ion-text color="dark">
                  <h3>Edad</h3>
                  <p *ngIf="(authService.user | async)?.age; else missingDataSmall">{{ (authService.user | async)?.age }}</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-md="6" style="max-height: 100%">
      <ion-card style="height: 100%;">
        <ion-card-header *ngIf="(authService.user | async)?.gym;">
          <ion-item color="primary" lines="none">
            <ion-avatar slot="start" style="height: 5em; width: 5em">
              <img [src]="(userGym | async)?.foto" />
            </ion-avatar>
            <ion-label class="ion-text-wrap">{{ (userGym | async)?.nombre }}</ion-label>
            <ion-button (click)="confirmGymRemoval()" slot="end" fill="clear">
              <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-header>
        <ion-card-header color *ngIf="!(authService.user | async)?.gym;">
          <ion-item color="primary" lines="none">
            <ion-button (click)="createGym()" slot="end" fill="clear">
              <ion-icon slot="icon-only" name="add" color="dark"></ion-icon>
            </ion-button>
            <ion-card-title>No perteneces a un Gym</ion-card-title>
          </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="(authService.user | async)?.gym; else noGym">
          <ion-grid no-padding>
            <ion-row class="ion-align-items-center">
              <ion-col size="12" size-md="6">
                <ion-item lines="none" color="dark">
                  <ion-label>
                    <h2>Rating</h2>
                    <ion-range min="0" max="10" [value]="(userGym | async)?.rating" color="danger" rating style="pointer-events: none;">
                      <ion-icon slot="start" size="small" color="danger" name="star-outline"></ion-icon>
                      <ion-icon slot="end" color="danger" name="star"></ion-icon>
                    </ion-range>
                    <img [src]="'https://maps.googleapis.com/maps/api/staticmap?size=180x180&maptype=roadmap\&markers=size:mid%7Ccolor:red%7C'+ gymEncoded +'&key=' + apiKey" alt="Mapa localizacion" style="height: 180px; width: auto; margin: auto; border-radius: .5em">
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-item lines="none" color="medium" class="ion-margin">
                  <ion-label><p>{{ (userGym | async)?.direccion }}</p></ion-label>
                </ion-item>
                <ion-card color="medium">
                  <ion-card-header>
                    <ion-card-title>Descripcion</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>{{ (userGym | async)?.descripcion }}</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row style="height: 50%">
    <ion-col size-xs="12" size-md="12">
      <ion-card style="height: 90%">
        <ion-card-header>
          <ion-item color="primary" lines="none">
            <ion-button (click)="openExerciseFollowList()" slot="end" fill="clear">
              <ion-icon slot="icon-only" name="create" color="dark"></ion-icon>
            </ion-button>
            Ejercicios
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-slides pager="true">
            <ion-slide *ngFor="let exercise of exercisesObservable | async; let index = index">
              <ion-card color="medium">
                <ion-card-header>
                  <ion-card-title>{{ exercise.payload.data().nombre }}</ion-card-title>
                </ion-card-header>
                <ion-card-content *ngIf="(authService.user | async) as user">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6">
                        <h2>Peso</h2>
                        <p>{{ user?.exercises[index].weight }}</p>
                      </ion-col>
                      <ion-col size="6">
                        <h2>Reps</h2>
                        <p>{{ user?.exercises[index].reps }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <ion-button (click)="openExerciseInfoModal(exercise.payload.id)" slot="end" fill="clear">
                    <ion-icon slot="icon-only" name="information-circle-outline" color="dark"></ion-icon>
                  </ion-button>
                  <ion-button (click)="updateExerciseDetails(exercise.payload.id, index, user.exercises[index].weight, user.exercises[index].reps)" slot="end" fill="clear">
                    <ion-icon slot="icon-only" name="create" color="dark"></ion-icon>
                  </ion-button>
                  <ion-button (click)="removeExerciseFollow(exercise.payload.id, user.exercises[index].weight, user.exercises[index].reps)" slot="end" fill="clear">
                    <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #noGym>
  <ion-card-content style="overflow-y: scroll; height: 80%">
    <ion-list>
      <ion-item *ngFor="let gym of gymList | async" color="none" (click)="confirmGym(gym.payload.doc.id)">
        <ion-avatar slot="start">
          <img [src]="gym.payload.doc.data().foto" />
        </ion-avatar>
        <ion-label>{{ gym.payload.doc.data().nombre }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ng-template>

<ng-template #missingData>
  <div class="ion-text-center">
    <ion-icon name="help" size="large" color="dark"></ion-icon>
    <ion-text color="dark">
      <h1>No hay informacion!</h1>
    </ion-text>
  </div>
</ng-template>

<ng-template #missingDataSmall>
  <ion-icon name="help" size="small" color="dark"></ion-icon>
</ng-template>
