<ion-app>
  <ion-menu menuId="main" side="start" type="push">
    <ion-content color="primary">
      <ion-button (click)="onClick()" fill="clear" class="ion-margin-vertical">
        <ion-thumbnail>
          <img src="../assets/logoBlanco.png" />
        </ion-thumbnail>
      </ion-button>
      <ion-button fill="clear" class="ion-margin-vertical">
        <ion-icon color = "medium" slot="icon-only" name="trophy"></ion-icon>
      </ion-button>
      <ion-button (click)="onClick()" fill="clear" class="ion-margin-vertical">
        <ion-icon color = "medium" slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-button (click)="signOut()" fill="clear" class="ion-margin-vertical">
        <ion-icon color = "medium" slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
