<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-chip slot="end" *ngIf="authService.user | async">
      <ion-avatar>
        <img [src]="(authService.user | async)?.photoURL">
      </ion-avatar>
      <ion-label>
        {{ (authService.user | async)?.displayName }}
      </ion-label>
    </ion-chip>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-not-signed-in *ngIf="(authService.user | async) === null"></app-not-signed-in>
  <app-signed-in *ngIf="authService.user | async"></app-signed-in>
</ion-content>

<ng-template #loadingSpinner>
  <ion-spinner></ion-spinner>
</ng-template>
