<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Ejercicio</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="modalDismiss()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editingForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item color="none">
            <ion-label position="floating">
              <ion-icon name="arrow-round-up"></ion-icon>
              Peso (en KG)
            </ion-label>
            <ion-input type="number" formControlName="weight"></ion-input>
          </ion-item>
          <ion-item color="none">
            <ion-label position="floating">
              <ion-icon name="arrow-round-down"></ion-icon>
              Repeticiones
            </ion-label>
            <ion-input type="number" formControlName="reps"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onSubmit()" [disabled]="!editingForm.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>